Tests: smoke
Depends: python3-nose
Restrictions: allow-stderr,
 needs-root,

Tests: help
Depends: kopano-backup,
 kopano-presence,
 kopano-search,
 kopano-spamd,
 kopano-utils,
Restrictions: allow-stderr,
 needs-root,
