##############################################################
# LOG SETTINGS

# Logging method (syslog, file), syslog facility is 'mail'
log_method		= syslog

# Logfile (for log_method = file, '-' for stderr)
#log_file		= /var/log/zarafa/php-mapi.log

# Loglevel (0=no logging, 5=full logging)
log_level		= 5

# Log timestamp - prefix each log line with timestamp in 'file' logging mode
#log_timestamp		= 1

# Buffer logging in what sized blocks.
# Bigger buffers is better for the performance but it gives lag
# when running e.g. multitail or 'tail -f' on the log-file. If
# you want to directly see what is happing, set this to e.g. 1.
# So when debugging: make it a small value, else set it to
# 4096 or more.
log_buffer_size  = 4096
