[Unit]
Description=zarafa-monitor - Zarafa Quota Manager
Documentation=man:zarafa-monitor(8) man:zarafa-monitor.cfg(5)

[Service]
Type=simple
Environment=LC_ALL=C LANG=C
ExecStart=/usr/sbin/zarafa-monitor -F -c /etc/zarafa/monitor.cfg

[Install]
WantedBy=multi-user.target
