Source: zarafa
Section: mail
Priority: optional
Homepage: https://community.zarafa.com/
Maintainer: Zarafa Development Team <development@zarafa.com>
Build-Depends: debhelper (>= 4.0.0),
 binutils (>= 2.12.90.0.9),
 autotools-dev,
 automake (>= 1:1.9),
 autoconf (>= 2.59),
 dpkg-dev (>= 1.16.1~),
 libtool (>= 1.5),
 pkg-config (>= 0.18),
 libssl-dev,
 uuid-dev,
 php5-dev,
 libmysqlclient-dev,
 libcurl4-openssl-dev,
 libvmime-dev,
 gettext,
 libldap2-dev,
 flex,
 bison,
 m4,
 zlib1g-dev,
 libncurses5-dev,
 libncursesw5-dev,
 libxml2-dev,
 libpam0g-dev,
 libkrb5-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-thread-dev,
 libgoogle-perftools-dev,
 python-dev,
 libicu-dev,
 libical-dev,
 libgsoap-dev,
 gsoap,
 swig,
Standards-Version: 3.9.6
X-Python-Version: 2.7

Package: libfreebusy0
Architecture: any
Conflicts: zarafa (<< 7.2),
 zarafa-client (<< 7.2)
Replaces: zarafa (<< 7.2),
 zarafa-libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - Free/Busy library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides a implementation of Free/Busy time scheduling
 documented in RFC 5545 as a library.

Package: libicalmapi1
Architecture: any
Conflicts: zarafa (<< 7.2),
 libmapi1 (<< 7.2), zarafa-libs (<< 7.2)
Replaces: zarafa (<< 7.2),
 libmapi1 (<< 7.2), zarafa-libs (<< 7.2)
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - iCal/MAPI library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides an interface between iCal and MAPI based on a library.

Package: libinetmapi1
Architecture: any
Conflicts: zarafa (<< 7.2),
 libmapi1 (<< 7.2), zarafa-libs (<< 7.2)
Replaces: zarafa (<< 7.2),
 libmapi1 (<< 7.2), zarafa-libs (<< 7.2)
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - MAPI library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package is a interface between internet e-mail and MAPI encapsulated
 in a library. Uses libvmime to convert between RFC 5322 e-mail and MAPI
 messages. Used by zarafa-spooler and zarafa-dagent for sending and receiving
 mail, respectively.

Package: libmapi1
Architecture: any
Conflicts: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Replaces: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - messaging library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package implements Zarafa's Messaging API MAPI that allows client
 programs to become (e-mail) messaging-enabled, -aware, or -based by calling
 MAPI subsystem routines that interface with certain messaging servers.

Package: libzarafa-archiver0
Architecture: any
Conflicts: zarafa (<< 7.2),
 zarafa-libarchiver (<< 7.2)
Replaces: zarafa-libarchiver (<< 7.2)
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: Complete and feature rich groupware solution - shared archiver
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the shared archiver for the Zarafa Collaboration
 Platform.

Package: libzarafa-archiver-core0
Architecture: any
Conflicts: zarafa (<< 7.2),
 zarafa-libarchiver (<< 7.2)
Replaces: zarafa-libarchiver (<< 7.2)
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: Complete and feature rich groupware solution - shared archiver core
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the library with shared archiver core functionality
 for the Zarafa Collaboration Platform.

Package: libzarafa-server0
Architecture: any
Conflicts: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Replaces: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - core server library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains core library for Zarafa server.

Package: libzarafa-soapclient0
Architecture: any
Conflicts: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Replaces: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - soap client handler
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the Zarafa component library for SOAP client-side
 handlers.

Package: libzarafa-soapserver0
Architecture: any
Conflicts: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Replaces: zarafa (<< 7.2),
 libmapi1 (<< 7.2)
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - soap server handler
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the Zarafa component library for SOAP server-side
 handlers.

Package: zarafa
Architecture: all
Depends: zarafa-server (>= ${binary:Version}.1~),
 zarafa-server (<< ${source:Version}.1~),
 zarafa-client (>= ${source:Version}),
 zarafa-client (<< ${source:Version}.1~),
 libmapi1 (>= ${source:Version}),
 libmapi1 (<< ${source:Version}.1~),
 zarafa-utils,
 zarafa-monitor,
 zarafa-spooler,
 zarafa-dagent,
 zarafa-ical,
 zarafa-gateway,
 zarafa-search-plus,
 ${misc:Depends},
Description: Complete and feature rich groupware solution
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the dependencies to pull in all important parts
 of ZCP.

Package: zarafa-common
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: lsb-base,
 ${misc:Depends},
Description: Complete and feature rich groupware solution - common files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains some files common to all packages.

Package: zarafa-server
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 dbconfig-common,
 zarafa-common (= ${binary:Version}),
 mariadb-client | mysql-client | virtual-mysql-client,
 ${misc:Depends},
Suggests: mariadb-server | mysql-server
Description: Complete and feature rich groupware solution - server component
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides the core server component that connects to gateways
 (like the imap gateway) or the web gui connect to.

Package: zarafa-dbg
Priority: extra
Architecture: any
Depends: ${misc:Depends},
  zarafa-server | zarafa-client | libmapi1 | python-mapi | php5-mapi
Section: debug
Description: Complete and feature rich groupware solution - debug files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the debug symbols.

Package: zarafa-dev
Priority: extra
Homepage: http://developer.zarafa.com/
Section: libdevel
Architecture: any
Depends: zarafa-client (= ${binary:Version}),
 libzarafa-archiver0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - development files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the C++ development files.


Package: zarafa-client
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 libmapi1,
 zarafa-lang,
 ${misc:Depends},
Description: Complete and feature rich groupware solution - core libraries
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the core libraries needed by several clients.


Package: zarafa-lang
Architecture: any
Conflicts: zarafa (<< 7.2),
 zarafa-client (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: locales,
 ${misc:Depends},
Description: Complete and feature rich groupware solution - language files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the translations in several languages.


Package: zarafa-contacts
Architecture: any
Depends: ${shlibs:Depends},
 locales,
 zarafa-client (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - contact mapi provider
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides adding contact folders in the addressbook.


Package: zarafa-utils
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-client (= ${binary:Version}),
 libzarafa-archiver0 (= ${binary:Version}),
 ${misc:Depends},
 python,
Description: Complete and feature rich groupware solution - admin tools
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the command line tools for server administration.


Package: zarafa-monitor
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - quota monitor
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the quota monitor that checks stores for total usage
 and alerts users by email.


Package: zarafa-spooler
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${misc:Depends},
 ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 python-mapi (= ${binary:Version}),
Description: Complete and feature rich groupware solution - email spooler
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the email spooler that forwards emails from the
 Zarafa server to an SMTP server.


Package: zarafa-dagent
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${misc:Depends},
 ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 php5-mapi (= ${binary:Version}),
 php5-cli,
 python-mapi (= ${binary:Version}),
Description: Complete and feature rich groupware solution - delivery agent
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the email delivery agent that delivers incoming
 email from you SMTP server to the Zarafa server.


Package: zarafa-gateway
Architecture: any
Suggests: python-mapi
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - POP3 and IMAP gateway
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the gateway to access the data stored in your
 Zarafa server via the POP3 and IMAP protocolls.


Package: zarafa-ical
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - iCal and CalDAV gateway
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the gateway to access the data stored in your
 pZarafa server via the iCal and CardDAV protocolls.


Package: python-mapi
Architecture: any
Section: python
Conflicts: zarafa-python
Replaces: zarafa-python
Provides: zarafa-python
Depends: ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends},
 zarafa-client (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
XB-Python-Version: ${python:Versions}
Description: Complete and feature rich groupware solution - Python MAPI bindings
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 Using this module, you can create Python programs which use MAPI
 calls to interact with Zarafa.


Package: python-zarafa
Architecture: all
Section: python
Depends: ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends},
 python-mapi,
XB-Python-Version: ${python:Versions}
Description: Complete and feature rich groupware solution - Python bindings
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 Using this module, you can create Python programs which access the
 Zarafa server using a higher level abstraction than python-mapi
 provides.


Package: php5-mapi
Architecture: any
Section: php
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 ${php:Depends},
 zarafa-client (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - PHP MAPI bindings
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 Using this module, you can create PHP programs which use MAPI
 calls to interact with Zarafa.


Package: zarafa-webaccess
Architecture: all
Section: web
Depends: php5-mapi,
 fckeditor,
 libjs-swfupload,
 ${misc:Depends},
Recommends: apache2 | httpd
Description: Complete and feature rich groupware solution - WebAccess modul
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides a complete Web GUI for the Zarafa server.


Package: zarafa-search-plus
Architecture: any
Conflicts: zarafa-indexer,
 zarafa-search
Replaces: zarafa-indexer,
 zarafa-search
Depends: ${shlibs:Depends},
 ${misc:Depends},
 bash (>= 3.0),
 catdoc,
 coreutils (>= 5.93),
 file,
 gawk,
 lsb-base,
 mktemp (>= 1.5),
 poppler-utils,
 python,
 python-xapian,
 python-zarafa,
 unzip,
 w3m,
 xsltproc
Description: Complete and feature rich groupware solution - indexer
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides the search indexer using xapian.

