Source: zarafa
Section: mail
Priority: optional
Homepage: https://community.zarafa.com/
Maintainer: Giraffe Maintainers <pkg-giraffe-maintainers@lists.alioth.debian.org>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>, Matthias Geerdsen <matthias@vorlons.info>
Build-Depends: debhelper (>= 4.0.0),
 dh-systemd (>= 1.5),
 dh-autoreconf,
 binutils (>= 2.12.90.0.9),
 autotools-dev,
 automake (>= 1:1.9),
 autoconf (>= 2.59),
 dpkg-dev (>= 1.16.1~),
 libtool (>= 1.5),
 pkg-config (>= 0.18),
 libssl-dev,
 uuid-dev,
 php5-dev,
 libmysqlclient-dev,
 libcurl4-openssl-dev,
 libvmime-dev,
 gettext,
 libldap2-dev,
 flex,
 bison,
 m4,
 zlib1g-dev,
 libncurses5-dev,
 libncursesw5-dev,
 libxml2-dev,
 libpam0g-dev,
 libkrb5-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-thread-dev,
 libgoogle-perftools-dev,
 python-dev,
 libicu-dev,
 libical-dev,
 libgsoap-dev,
 gsoap,
 swig,
Standards-Version: 3.9.6
X-Python-Version: 2.7
Testsuite: autopkgtest

Package: libfreebusy0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - Free/Busy library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides a implementation of Free/Busy time scheduling
 documented in RFC 5545 as a library.

Package: libicalmapi1
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - iCal/MAPI library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides an interface between iCal and MAPI based on a library.

Package: libinetmapi1
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - MAPI library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package is a interface between internet e-mail and MAPI encapsulated
 in a library. Uses libvmime to convert between RFC 5322 e-mail and MAPI
 messages. Used by zarafa-spooler and zarafa-dagent for sending and receiving
 mail, respectively.

Package: libmapi1
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Complete and feature rich groupware solution - messaging library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package implements Zarafa's Messaging API MAPI that allows client
 programs to become (e-mail) messaging-enabled, -aware, or -based by calling
 MAPI subsystem routines that interface with certain messaging servers.

Package: libzarafa-archiver0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: Complete and feature rich groupware solution - shared archiver
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the shared archiver for the Zarafa Collaboration
 Platform.

Package: libzarafa-archiver-core0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: Complete and feature rich groupware solution - shared archiver core
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the library with shared archiver core functionality
 for the Zarafa Collaboration Platform.

Package: libzarafa-server0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - core server library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains core library for Zarafa server.

Package: libzarafa-soapclient0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - soap client handler
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the Zarafa component library for SOAP client-side
 handlers.

Package: libzarafa-soapserver0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - soap server handler
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the Zarafa component library for SOAP server-side
 handlers.

Package: libzarafasync0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - sync library
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the library with routines for synchronization in ZCP.

Package: libzcp-common0
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: Complete and feature rich groupware solution - MAPI libraries
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the ZCP component libraries.

Package: zarafa
Architecture: all
Depends: zarafa-server (>= ${source:Version}),
 zarafa-utils (>= ${source:Version}),
 zarafa-monitor (>= ${source:Version}),
 zarafa-spooler (>= ${source:Version}),
 zarafa-dagent (>= ${source:Version}),
 zarafa-ical (>= ${source:Version}),
 zarafa-gateway (>= ${source:Version}),
 zarafa-search-plus (>= ${source:Version}),
 ${misc:Depends},
Suggests: zarafa-webapp
Description: Metapackage for the Zarafa Collaboration Platform
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the dependencies to pull in all important parts
 of ZCP.

Package: libzarafa-client0
Architecture: any
Depends: ${shlibs:Depends},
 libmapi1,
 zarafa-lang,
 ${misc:Depends},
Description: Complete and feature rich groupware solution - core libraries
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the core libraries (MAPI) to interface with a Zarafa
 server.

Package: zarafa-common
Architecture: any
Depends: ${misc:Depends},
 adduser,
 lsb-base
Description: Complete and feature rich groupware solution - common files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains some files common to all packages.

Package: zarafa-contacts
Architecture: any
Depends: ${shlibs:Depends},
 locales,
 libzarafa-client0 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - contact mapi provider
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides adding contact folders in the addressbook.

Package: zarafa-dagent
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 libzarafa-client0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 php5-mapi (= ${binary:Version}),
 php5-cli,
 python-mapi (= ${binary:Version}),
Description: Complete and feature rich groupware solution - delivery agent
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the email delivery agent that delivers incoming
 email from you SMTP server to the Zarafa server.

Package: zarafa-dbg
Priority: extra
Architecture: any
Depends: ${misc:Depends},
  zarafa-server | libzarafa-client0 | libmapi1 | python-mapi | php5-mapi
Section: debug
Description: Complete and feature rich groupware solution - debug files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the debug symbols.

Package: zarafa-dev
Priority: extra
Homepage: http://developer.zarafa.com/
Section: libdevel
Architecture: any
Depends: libzarafa-client0 (= ${binary:Version}),
 libzarafa-archiver0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - development files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the C++ development files.

Package: zarafa-gateway
Architecture: any
Suggests: python-mapi
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 libzarafa-client0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - POP3 and IMAP gateway
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the gateway to access the data stored in your
 Zarafa server via the POP3 and IMAP protocolls.

Package: zarafa-ical
Architecture: any
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 libzarafa-client0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - iCal and CalDAV gateway
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the gateway to access the data stored in your
 Zarafa server via the iCal and CardDAV protocolls.

Package: zarafa-lang
Architecture: all
Depends: locales,
 ${misc:Depends},
Description: Complete and feature rich groupware solution - language files
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the translations in several languages.

Package: zarafa-monitor
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 libzarafa-client0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 php5-mapi (= ${binary:Version}),
 php5-cli,
 python-mapi (= ${binary:Version}),
Description: Complete and feature rich groupware solution - quota monitor
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the quota monitor that checks stores for total usage
 and alerts users by email.

Package: zarafa-search-plus
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 bash (>= 3.0),
 catdoc,
 coreutils (>= 5.93),
 file,
 gawk,
 lsb-base,
 mktemp (>= 1.5),
 poppler-utils,
 python,
 python-xapian,
 python-zarafa (>= ${source:Version}),
 unzip,
 w3m,
 xsltproc,
 zarafa-common (>= ${source:Version})
Description: Complete and feature rich groupware solution - indexer
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides the search indexer using xapian.

Package: zarafa-server
Architecture: any
Depends: ${shlibs:Depends},
 dbconfig-common,
 zarafa-common (= ${binary:Version}),
 mariadb-client | mysql-client | virtual-mysql-client,
 ${misc:Depends},
Recommends: mariadb-server | mysql-server
Description: Complete and feature rich groupware solution - server component
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package provides the core server component that connects to gateways
 (like the imap gateway) or the web gui connect to.

Package: zarafa-spooler
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 libicalmapi1 (= ${binary:Version}),
 python-mapi (= ${binary:Version}),
Description: Complete and feature rich groupware solution - email spooler
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the email spooler that forwards emails from the
 Zarafa server to an SMTP server.

Package: zarafa-utils
Architecture: any
Depends: ${shlibs:Depends},
 libzarafa-client0 (= ${binary:Version}),
 libzarafa-archiver0 (= ${binary:Version}),
 ${misc:Depends},
 python,
Description: Complete and feature rich groupware solution - admin tools
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 This package contains the command line tools for server administration.

Package: python-mapi
Architecture: any
Section: python
Depends: ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends},
 libzarafa-client0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
XB-Python-Version: ${python:Versions}
Description: Complete and feature rich groupware solution - Python MAPI bindings
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 Using this module, you can create Python programs which use MAPI
 calls to interact with Zarafa.

Package: python-zarafa
Architecture: all
Section: python
Depends: ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends},
 python-mapi,
XB-Python-Version: ${python:Versions}
Description: Complete and feature rich groupware solution - Python bindings
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 Using this module, you can create Python programs which access the
 Zarafa server using a higher level abstraction than python-mapi
 provides.

Package: php5-mapi
Architecture: any
Section: php
Depends: ${shlibs:Depends},
 ${php:Depends},
 libzarafa-client0 (= ${binary:Version}),
 libmapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Complete and feature rich groupware solution - PHP MAPI bindings
 The Zarafa Collaboration Platform (ZCP) is a complete, stable and
 flexible groupware solution supporting open source as well as proprietary
 clients including mobile ones. It also features a web interface.
 .
 Using this module, you can create PHP programs which use MAPI
 calls to interact with Zarafa.

