[Unit]
Description=Kopano DAgent Server
After=network.target
After=local-fs.target
After=remote-fs.target
After=mysql.service
After=kopano-server.service
Documentation=man:kopano-dagent(8)
Documentation=man:kopano-dagent.cfg(5)

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-dagent -l -F -c /etc/kopano/dagent.cfg
KillMode=process
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

