[Unit]
Description=Kopano Server
After=network.target
After=local-fs.target
After=remote-fs.target
After=mysql.service
Documentation=man:kopano-server(8)

[Service]
Type=simple
ExecStartPre=/bin/chown kopano /var/lib/kopano
ExecStart=/usr/sbin/kopano-server -F -c /etc/kopano/server.cfg
KillMode=process
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

