[Unit]
Description=Zarafa DAgent Server
After=network.target
After=local-fs.target
After=remote-fs.target
After=mysql.service
After=zarafa-server.service
Documentation=man:zarafa-dagent(8)
Documentation=man:zarafa-dagent.cfg(5)

[Service]
Type=simple
ExecStart=/usr/sbin/zarafa-dagent -l -F -c /etc/zarafa/dagent.cfg
KillMode=process
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

